div.background{
    background-color: rgb(180, 135, 12);
}
div.media a{
    width: 200px;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    padding-left:5px;
    text-align: center;
    transform: translate(250px,10px);
}
div.media a:hover{
    color: rgb(24, 9, 9);
}
div.media2 a{
    width: 200px;
    height: 30px;
    text-decoration:none;
    font-weight: bold;
    color:white;
    display:block;
    padding-left: 5px;
    text-align: center;
    transform: translate(10px,-110px);
}
div.media2:last-child{
    text-align: center;
}
div.media2 a:hover{
    color:rgb(34, 34, 27);
}
div.emailus{
    float: right;
    margin-top: -230px;
    margin-right: 5px;
    font-weight:bold;
    font-size: medium;
    width: 500px;
}
div.emailus input{
    height: 40px;
    width: 400px;
}
div.emailus div.sign a{
    background-color: rgb(226, 43, 67);
    border-radius: 5px;
    display: inline;
    width: 70px;
    font-size: large;
    text-decoration: none;
    color: black;
    padding: 8px;
    position: absolute;
    right: 10px;
    top: 40px;

}
div.sign a:hover{
    cursor: pointer;
}
div.media2 p{
    display: inline;
    margin-left: 520px;
    position: relative;
    bottom: 18px;
}
div.media2 span{
    position: relative;
    left:520px ;
    bottom: 18px;
}